
<article class="card-product    card-product_big">
    <div class="card-product__img">
        <div class="card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="score">
        </div>
        <img loading="lazy" src="@@webRoot/static/img/баннер%20дифы%201.png" alt="баннер">
    </div>
    <div class="card-product__body">
        <div class="card-product__up-element">
            <div class="card-product__header">
                <p class="card-product__act"></p>
                <h2 class="card-product__head">
                    АВТОМАТИЧЕСКИЙ ДЕФИБРИЛЛЯТОР
                    PRIMEDIC HEARTSAVE PAD
                </h2>
                <p class="card-product__subtext">
                    Автоматизированный наружный дефибриллятор (АНД)
                    с питанием от не перезаряжаемой батареи
                </p>
                <p class="card-product__price">
                    136 000<span class="card-product__currency">₽</span>
                </p>
            </div>
            <div class="card-product__control">
                <button class="button-add-compare">
                    товар добавлен
                    в сравнения
                </button>
                <button class="button-not-background">
                    <img loading="lazy" src="@@webRoot/static/img/icons/compare-black.svg" alt="compare"/>
                    Сравнить
                </button>
                <button class="button-not-background">
                    <img loading="lazy" src="@@webRoot/static/img/icons/print-black.svg" alt="print"/>
                    Распечатать
                </button>
            </div>
        </div>
        <div class="card-product__average-element">
            <ul class="select-size">
                <li class="select-size__option">
                    <p>29 см</p>
                    <div class="amt">
                        <button class="amt__subtract">-</button>
                        <p class="amt__answer">1</p>
                        <button class="amt__add">+</button>
                    </div>
                </li>
                <li class="select-size__option">
                    <p>29 см</p>
                    <div class="amt">
                        <button class="amt__subtract">-</button>
                        <p class="amt__answer">1</p>
                        <button class="amt__add">+</button>
                    </div>
                </li>
                <li class="select-size__option">
                    <p>29 см</p>
                    <div class="amt">
                        <button class="amt__subtract">-</button>
                        <p class="amt__answer">1</p>
                        <button class="amt__add">+</button>
                    </div>
                </li>
                <li class="select-size__option">
                    <p>29 см</p>
                    <div class="amt">
                        <button class="amt__subtract">-</button>
                        <p class="amt__answer">1</p>
                        <button class="amt__add">+</button>
                    </div>
                </li>
                <li class="select-size__option">
                    <p>29 см</p>
                    <div class="amt">
                        <button class="amt__subtract">-</button>
                        <p class="amt__answer">1</p>
                        <button class="amt__add">+</button>
                    </div>
                </li>
                <li class="select-size__option">
                    <p>29 см</p>
                    <div class="amt">
                        <button class="amt__subtract">-</button>
                        <p class="amt__answer">1</p>
                        <button class="amt__add">+</button>
                    </div>
                </li>
            </ul>
            <div class="card-product__footer">
                <button class="card-product__button blow-button">
                    в корзину
                </button>
                <button class="card-product__button white-button">
                    купить в 1 клик
                </button>
            </div>
        </div>

        <ul class="card-product__down-element">
            <li class="card-product__anchor-link">
                <a href="#specifications">Технические характеристики</a>
            </li>
            <li class="card-product__anchor-link">
                <a href="#certificate">
                    Документы (сертификаты)
                </a>
            </li>
            <li class="card-product__anchor-link">
                <a href="#feedback">Отзывы</a>
            </li>
            <li class="card-product__anchor-link">
                <a href="#video-review">Видеообзор</a>
            </li>
        </ul>
    </div>
</article>