    <section class="over-page" id = 'product-added'>
        <article class="pop-up-card" >
            <h2  >Товар добавлен в корзину!</h2>
            <div class="pop-up-card__buttols">
                <button role="button" aria-label="continue shopping" class="blow-button">продолжить покупки</button>
                <a href="@@webRoot/basket-page.html">
                    <button role="button" aria-label="go to basket"
                            class="blow-button">перейти в корзину </button>
                </a>

            </div>
        </article>
    </section>