
<footer class="footer" >
    <div class="footer__left">
        <div class="footer__imgs">
            <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/logo.png" alt=""/>
            <article class="network">
                <img loading="lazy"   width="" height=""        id="viber" src="@@webRoot/static/img/viber%20.png" alt="viber" />
                <img loading="lazy"   width="" height=""        id="telegram" src="@@webRoot/static/img/telegram%20.png" alt="telegram" />
                <img loading="lazy"   width="" height=""        id="whatsapp" src="@@webRoot/static/img/whatsapp%20.png" alt="whatsapp" />
            </article>
        </div>

        <nav class="footer__nav">
            <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Производители</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Реквизиты</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>

    </div>
    <div class = "footer__right">
        <article class="footer__info info">
           <div class="info__header">
               <a href="#" class="order-call" title="Заказать обратный звонок">
                   <img loading="lazy" alt=""  width="" height=""     src="@@webRoot/static/img/icons/phone.svg"/>Заказать обратный звонок</a>
           </div>
            <div class="info__body">
                Россия, Удмуртская Республика
                426011, г. Ижевск, ул. Пушкинская 290
                тел. 8 (3412) 65-08-77
            </div>
        </article>
        <article class="footer__info info">
            <p class="info__header">
                Политика конфиденциальности
            </p>
            <p class="info__body">
                ООО «Boksmed» © 2015 - 2022.
                Сайт носит информационный характер и не является публичной офертой.
            </p>
        </article>
    </div>
    
    <div class="footer__button-blow">
        <a href="@@webRoot/request-call-back-page.html" title="Заказать обратный звонок">
            <button role="button" aria-label="Заказать обратный звонок" class="button-blow-big">
                <img loading="lazy"   width="" height=""  src="@@webRoot/static/img/icons/phone_big.svg" alt=""  />
            </button>
        </a>

        <button role="button" aria-label="scroll to header" id="button-to-header" class="button-blow-big">
            <img loading="lazy"   width="" height=""  src="@@webRoot/static/img/icons/arrow-big.svg" alt="" />
        </button>
    </div>
</footer>
