
<head>
    <meta charset="UTF-8">
    <title>Prospecta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Web site created using gulp"/>
    <meta http-equiv="Cache-control" content="public">
    <link href="@@webRoot/static/css/main.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=aae3f3e4-374f-420f-a948-677e1a58f577
" type="text/javascript"></script>
    <script defer src="@@webRoot/static/js/main.js"></script>

</head>

