<header class="header opacity">
    <section class="header__top">
        <a href="@@webRoot/index.html"><img loading="lazy" src="@@webRoot/static/img/logo.png" alt="logo" class="header__img" loading="eager"/></a>
        <button class="button-not-background header__catalog">
            <img loading="lazy"  src="@@webRoot/static/img/menu%201.png"/>
            <p class="upper-text">каталог</p>

        </button>

        <form class="header__search" action="" method="post">
            <img loading="lazy"   src="@@webRoot/static/img/loupe%201.png"/>
            <input name="s" placeholder="Поиск медицинского оборудования" type="search">
        </form>
        <address class="address">
            <p class="blow-text order-call header__order-call  ">
                <a href="/request-call-back-page.html" title="Заказать обратный звонок">
                    <img loading="lazy" src="@@webRoot/static/img/icons/phone.svg"/>Заказать обратный звонок</a>
            </p>
            <p class="phone-nomer">8 (3412) 65-08-77</p>
        </address>
        <article class="header__network network">
            <img loading="lazy" id="viber" src="@@webRoot/static/img/viber%20.png" alt="" />
            <img loading="lazy" id="telegram" src="@@webRoot/static/img/telegram%20.png" alt="" />
            <img loading="lazy" id="whatsapp" src="@@webRoot/static/img/whatsapp%20.png" alt="" />
        </article>

    </section>
    @@include('../components/burger-menu.html')
    @@include('../components/subMenu.html')
</header>
