<section id ="main-slider"  class="main-slider swiper opacity">
    <div class="swiper-wrapper">
        <article class="swiper-slide card-catalog card-catalog_big blue-vision ">
            <div class="card-catalog__body">
                <div class="card-catalog__banner appear">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/baner-metrax.png" alt="metrax"/>
                </div>
                <div class="card-catalog__header appear">
                    <h3 class="card-catalog__head">
                        Ручные и автоматические дефибрилляторы «Primedic»
                    </h3>
                    <p class="card-catalog__subtext sub-text_average">
                        что то нужно написать, может быть качество и выгодные цены..
                    </p>
                </div>
                <div class="card-catalog__footer appear">
                    <button  role="button" aria-label="go to catalog" class="blow-button">перейти в каталог</button>
                    <div class="card-catalog__arrows" >
                        <button role="button" aria-label="last" class="slider__navigation slider__navigation_last">
                            <img loading="lazy"   width="" height=""  src="@@webRoot/static/img/icons/next%2021.svg" alt="last"/>
                        </button>
                        <button role="button" aria-label="next" class="slider__navigation slider__navigation_next">
                            <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/next%2021.svg" alt="next"/>
                        </button>
                    </div>


                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""         src="@@webRoot/static/img/баннер%20дифы%201.png" alt=""/>
            </div>
        </article>
    </div>

</section>

