
<section class="sections sections_full">
    <div class="sections__header">
        <h3 class="sections__head">Бренды и заводы производители</h3>
    </div>
    <div class="manufacture">

            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>
            <article class="manufacture__card card-manufacture appear">
                <div class="card-manufacture__img">
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/axion.png" alt="axion" title="axion"/>
                </div>
            </article>

    </div>
</section>
