
<section class="sections sections_head-left sections_full-page opacity">
  <h1 class="sections__head">УЧЕНЫЕ ВЫРАСТИЛИ КЛЕТКИ
    СО ВЖИВЛЕННОЙ В НИХ ЭЛЕКТРОНИКОЙ</h1>
  <div class="sections__body news-article">
    <article class="news-article__item appear">
      <div class="news-article__right appear">
        <img loading="lazy" src="@@webRoot/static/img/news1.png" alt="news1">
      </div>
      <h2 class="news-article__head appear">Зачем выращивать «клетки-киборги»?</h2>
      <p class="appear">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto at commodi consectetur cupiditate delectus eaque est eum, id illum impedit iusto laboriosam laudantium magni nihil, numquam perferendis quidem quo quod repellendus repudiandae sequi tenetur veniam. Animi at consequatur expedita, explicabo facilis quod voluptate! Ab enim facere incidunt laboriosam molestiae!

      </p>
    </article>
    <article class="news-article__item appear">
      <div class="news-article__left appear">
        <img loading="lazy" src="@@webRoot/static/img/news1.png" alt="news1">
      </div>
      <h2 class="news-article__head appear">Зачем выращивать «клетки-киборги»?</h2>
      <p class="appear">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto at commodi consectetur cupiditate delectus eaque est eum, id illum impedit iusto laboriosam laudantium magni nihil, numquam perferendis quidem quo quod repellendus repudiandae sequi tenetur veniam. Animi at consequatur expedita, explicabo facilis quod voluptate! Ab enim facere incidunt laboriosam molestiae!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto at commodi consectetur cupiditate delectus eaque est eum, id illum impedit iusto laboriosam laudantium magni nihil, numquam perferendis quidem quo quod repellendus repudiandae sequi tenetur veniam. Animi at consequatur expedita, explicabo facilis quod voluptate! Ab enim facere incidunt laboriosam molestiae!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto at commodi consectetur cupiditate delectus eaque est eum, id illum impedit iusto laboriosam laudantium magni nihil, numquam perferendis quidem quo quod repellendus repudiandae sequi tenetur veniam. Animi at consequatur expedita, explicabo facilis quod voluptate! Ab enim facere incidunt laboriosam molestiae!
      </p>
    </article>
  </div>
  <div class="news-article__footer appear">
    <time >14.04.2022 </time>
    <address  >Константин К.Р</address>
  </div>
</section>
