
<section class="sections">

    <div class="sections__header">
        <h3 class="sections__head">Последние новости</h3>
        <div class="sections__body news">
            <article class="news__card card-news ">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/news1.png" class="appear" alt=""/>
                <div class="card-news__under-img appear">
                    <time   class="blow-text card-news__data">14.04.2022</time>
                    <div class="score card-news__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                </div>
                <h3 class="card-news__head appear">
                    <a href="news-item-page.html">
                        УЧЕНЫЕ ВЫРАСТИЛИ КЛЕТКИ
                        СО ВЖИВЛЕННОЙ В НИХ ЭЛЕКТРОНИКОЙ
                    </a>
                </h3>
                <div class="card-news__footer appear">
                    <a href="@@webRoot/news-item-page.html" class="blow-text card-news__link-full">читать дальше</a>
                    <address class="card-news__author">
                        Автор: Константин К.Р
                    </address>
                </div>
            </article>
            <article class="news__card card-news ">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/news1.png" class="appear" alt=""/>
                <div class="card-news__under-img appear">
                    <time   class="blow-text card-news__data">14.04.2022</time>
                    <div class="score card-news__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                </div>
                <h3 class="card-news__head appear">УЧЕНЫЕ ВЫРАСТИЛИ КЛЕТКИ
                    СО ВЖИВЛЕННОЙ В НИХ ЭЛЕКТРОНИКОЙ</h3>
                <div class="card-news__footer appear">
                    <a href="@@webRoot/news-item-page.html" class="blow-text card-news__link-full">читать дальше</a>
                    <address class="card-news__author">
                        Автор: Константин К.Р
                    </address>
                </div>
            </article>
            <article class="news__card card-news ">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/news1.png" class="appear" alt=""/>
                <div class="card-news__under-img appear">
                    <time   class="blow-text card-news__data">14.04.2022</time>
                    <div class="score card-news__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                </div>
                <h3 class="card-news__head appear">УЧЕНЫЕ ВЫРАСТИЛИ КЛЕТКИ
                    СО ВЖИВЛЕННОЙ В НИХ ЭЛЕКТРОНИКОЙ</h3>
                <div class="card-news__footer appear">
                    <a href="@@webRoot/news-item-page.html" class="blow-text card-news__link-full">читать дальше</a>
                    <address class="card-news__author">
                        Автор: Константин К.Р
                    </address>
                </div>
            </article>
        </div>
    </div>


</section>
