
<section class="sections  opacity products-catalog">
    <h2 class='sections__head '>
        Медицинское оборудование
    </h2>
    <div class="products-catalog__body ">
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="catalog-products-page.html" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>

        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
        <article class="card-catalog card-catalog_small blue-vision">
            <div class="card-catalog__body appear">
                <div class="card-catalog__header">
                    <h3 class="card-catalog__head">
                        дефибрилляторы
                    </h3>
                    <a href="/" class="card-catalog__subtext blow-text">
                        перейти в каталог
                    </a>
                </div>
            </div>
            <div class="card-catalog__img appear">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
            </div>
        </article>
    </div>
    <button role="button" aria-label="show full" class="products-catalog__button-show blow-text"> показать всe </button>

</section>
