
<section class="sections ">
    <h2 class="sections__head">
        Новинки
    </h2>
    <div id = 'slider-product' class="sections__body swiper slider slider__container  product-slider">
        <div   class=" swiper-wrapper">
            <article class="card-product swiper-slide">
                <div class="card-product__img appear">
                    <div class="score card-product__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
                </div>
                <div class="card-product__content appear">
                    <div class="card-product__header">
                        <p class="card-product__act">арт. 97530</p>
                        <h3 class="card-product__head head head_card">
                            <a href="@@webRoot/product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
                    </div>
                    <div class="card-product__body">
                        <p class="card-product__price">
                            <span class="card-product__cost">155</span>
                            <span class="card-product__currency">₽</span>
                        </p>
                    </div>
                    <div class="card-product__footer appear">
                        <button role="button" aria-label="add to basket" class="blow-button" >в корзину</button>
                        <button role="button" aria-label="buy" class="white-button">купить</button>
                    </div>
                </div>
            </article>
            <article class="card-product swiper-slide">
                <div class="card-product__img appear">
                    <div class="score card-product__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
                </div>
                <div class="card-product__content appear">
                    <div class="card-product__header">
                        <p class="card-product__act">арт. 97530</p>
                        <h3 class="card-product__head head head_card">
                            <a href="@@webRoot/product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
                    </div>
                    <div class="card-product__body">
                        <p class="card-product__price">
                            <span class="card-product__cost">155</span>
                            <span class="card-product__currency">₽</span>
                        </p>
                    </div>
                    <div class="card-product__footer appear">
                        <button role="button" aria-label="add to basket" class="blow-button" >в корзину</button>
                        <button role="button" aria-label="buy" class="white-button">купить</button>
                    </div>
                </div>
            </article>
            <article class="card-product swiper-slide">
                <div class="card-product__img appear">
                    <div class="score card-product__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
                </div>
                <div class="card-product__content appear">
                    <div class="card-product__header">
                        <p class="card-product__act">арт. 97530</p>
                        <h3 class="card-product__head head head_card">
                            <a href="@@webRoot/product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
                    </div>
                    <div class="card-product__body">
                        <p class="card-product__price">
                            <span class="card-product__cost">155</span>
                            <span class="card-product__currency">₽</span>
                        </p>
                    </div>
                    <div class="card-product__footer appear">
                        <button role="button" aria-label="add to basket" class="blow-button" >в корзину</button>
                        <button role="button" aria-label="buy" class="white-button">купить</button>
                    </div>
                </div>
            </article>
            <article class="card-product swiper-slide">
                <div class="card-product__img appear">
                    <div class="score card-product__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
                </div>
                <div class="card-product__content appear">
                    <div class="card-product__header">
                        <p class="card-product__act">арт. 97530</p>
                        <h3 class="card-product__head head head_card">
                            <a href="@@webRoot/product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
                    </div>
                    <div class="card-product__body">
                        <p class="card-product__price">
                            <span class="card-product__cost">155</span>
                            <span class="card-product__currency">₽</span>
                        </p>
                    </div>
                    <div class="card-product__footer appear">
                        <button role="button" aria-label="add to basket" class="blow-button" >в корзину</button>
                        <button role="button" aria-label="buy" class="white-button">купить</button>
                    </div>
                </div>
            </article>
            <article class="card-product swiper-slide">
                <div class="card-product__img appear">
                    <div class="score card-product__score">
                        <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/Star.svg" alt=""/>
                    </div>
                    <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/product%20дифы.png" alt=""/>
                </div>
                <div class="card-product__content appear">
                    <div class="card-product__header">
                        <p class="card-product__act">арт. 97530</p>
                        <h3 class="card-product__head head head_card">
                            <a href="@@webRoot/product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
                    </div>
                    <div class="card-product__body">
                        <p class="card-product__price">
                            <span class="card-product__cost">155</span>
                            <span class="card-product__currency">₽</span>
                        </p>
                    </div>
                    <div class="card-product__footer appear">
                        <button role="button" aria-label="add to basket" class="blow-button" >в корзину</button>
                        <button role="button" aria-label="buy" class="white-button">купить</button>
                    </div>
                </div>
            </article>
        </div>
        <button role="button" aria-label="last" class="slider__navigation slider__navigation_last">
            <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/next%2021.svg" alt="last">
        </button>
        <button role="button" aria-label="next" class="slider__navigation slider__navigation_next">
            <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/next%2021.svg" alt="next">
        </button>
    </div>

</section>
