
<nav class="sub-menu ">
 
    <ul class="sub-menu__list sub-menu__left">
        <li class="sub-menu__item sub-menu__item_active sub-text"><a href="@@webRoot/about-company-page.html">О компании</a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/manufacture-page.html">Производители </a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/catalog-page.html">каталог</a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/send-order-page.html">Доставка</a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/payment-page.html">Оплата</a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/news-page.html"> Новости </a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/requisite-page.html">Реквизиты</a></li>
        <li class="sub-menu__item sub-text"><a href="@@webRoot/contacts-page.html">Контакты</a></li>
        <li style="position: relative">
            <details style="position: absolute;white-space: nowrap; background-color: white;">
                <summary >extra pages</summary>
                <li class="sub-menu__item sub-text"><a href="@@webRoot/login-page.html">login-page</a></li>
                <li class="sub-menu__item sub-text"><a href="@@webRoot/from-registration-page.html">from-registration </a></li>
                <li class="sub-menu__item sub-text"><a href="@@webRoot/form-set-order-for-goust.page.html">form-set-order</a></li>
                <li class="sub-menu__item sub-text"><a href="@@webRoot/set-order-for-guest.html">set-order-for-guest</a></li>
            </details>
        </li>

    </ul>
    <ul class="sub-menu__right">
        <li >
            <a href="@@webRoot/compare-product-page.html" class="sub-menu__element">
            <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/compare.svg" class="sub-menu__img"/>
            <p class="sub-text">Сравнения</p>
            </a>
        </li>
        <li >
            <a href="@@webRoot/basket-page.html" class="sub-menu__element">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/shopping-cart.svg" class="sub-menu__img"/>
                <p class="sub-text">Корзина</p>
            </a>
        </li>
        <li >
            <a href="@@webRoot/profile-page.html" class="sub-menu__element">
                <img loading="lazy"   width="" height=""        src="@@webRoot/static/img/icons/doctor.svg" class="sub-menu__img"/>
                <p class="sub-text">Личный кабинет</p>
            </a>
        </li>
    </ul>
</nav>
