<section class="sections">
    <h1 class="sections__head">
        Контакты
    </h1>
    <div class="sections__body tablets">
        <address class="tablets__item ">
            Адрес: 426011 г. Ижевск,
            ул. Пушкинская, 290
        </address>
        <address class="tablets__item ">
            E-mail: 5078096@mail.ru
        </address>
        <address class="tablets__item ">
            +7 982 993 90 05
        </address>
        <address class="tablets__item tablets__item_blue">
            Время работы: пн- пт с 10:00 - 19:00
        </address>
        <address class="tablets__item ">
            Социальные сети
            <article class="network">
                <img id="viber" src="@@webRoot/static/img/viber%20.png" alt="" />
                <img id="telegram" src="@@webRoot/static/img/telegram%20.png" alt="" />
                <img id="whatsapp" src="@@webRoot/static/img/whatsapp%20.png" alt="" />
            </article>
        </address>
    </div>
</section>