
<section class="sections sections_head-left   catalog">
  <div class="sections__header">
    <h2 class="sections__head">
      Дефибрилляторы
    </h2>
  </div>
  <div class="sections__body catalog__body">
    <div class="catalog__catalog-menu catalog-menu">
      <div class=" catalog-menu__left">
        <p class=" catalog-menu__amt">Найдено 14 моделей</p>
        <button class="catalog-menu__clear-filter blow-text ">Сбросить фильтр</button>
      </div>

      <label class="catalog-menu__order-sort">
        <select name="order" form="filter-catalog">
          <option value="new">Новинки </option>
          <option value ="popular">Популярные</option>
          <option value ="price-up">По увеличению цены</option>
          <option value ="price-down">По уменьшению цены</option>
        </select>
      </label>
    </div>
    <div id="catalog-filter" class="catalog__filter ">
      <button id="button-show-filter" class="button-not-background"></button>
      <form action=""   class="filter">
        <div class="filter__price">
          <label class="filter__min-praise">
            <input type="number" name="min-praise" >
              <p class="filter__currency">₽</p>
          </label>
          <label class="filter__max-praise">
            <input type="number" name="max-praise" >
            <p class="filter__currency">₽</p>
          </label>
        </div>
        <div class="filter__field">
            <h5>Назначение</h5>
             
              <input type="checkbox" id="input1"><label for="input1">Промышленные предприятия</label>

              <input type="checkbox" id="input2"><label for="input2">Общественные здания</label>

              <input type="checkbox" id="input3"><label for="input3">Дома престарелых</label>

              <input type="checkbox" id="input4"><label for="input4">Спортивные учреждения</label>

              <input type="checkbox" id="input5"><label for="input5">Мед.пункты</label>

              <input type="checkbox" id="input6"><label for="input6">Больница</label>

              <input type="checkbox" id="input7"><label for="input7">Полиция</label>

              <input type="checkbox" id="input8"><label for="input8">Служба спасения</label>

              <input type="checkbox" id="input9"><label for="input9">Пожарная</label>

              <input type="checkbox" id="input10"><label for="input10">ССМП</label>
          
          </div>
        <div class="filter__field">
          <h5>Способ работы</h5>

          <input type="checkbox" id="input1"><label for="input1">Промышленные предприятия</label>

          <input type="checkbox" id="input2"><label for="input2">Общественные здания</label>

          <input type="checkbox" id="input3"><label for="input3">Дома престарелых</label>

        </div>
        <div class="filter__field">
          <h5>Дисплей</h5>

          <input type="checkbox" id="input1"><label for="input1">Промышленные предприятия</label>


        </div>
        <div class="filter__field">
          <h5>Физиологические сигналы</h5>

          <input type="checkbox" id="input1"><label for="input1">Промышленные предприятия</label>

          <input type="checkbox" id="input2"><label for="input2">Общественные здания</label>

          <input type="checkbox" id="input3"><label for="input3">Дома престарелых</label>

          <input type="checkbox" id="input4"><label for="input4">Спортивные учреждения</label>

          <input type="checkbox" id="input5"><label for="input5">Мед.пункты</label>

        </div>
        <div class="filter__field">
          <h5>Энергоснабжение</h5>

          <input type="checkbox" id="input1"><label for="input1">Промышленные предприятия</label>

          <input type="checkbox" id="input2"><label for="input2">Общественные здания</label>

          <input type="checkbox" id="input3"><label for="input3">Дома престарелых</label>

        </div>
        <div class="filter__field">
          <h5>Язык управления</h5>

          <input type="checkbox" id="input1"><label for="input1">Промышленные предприятия</label>

          <input type="checkbox" id="input2"><label for="input2">Общественные здания</label>
        </div>
      </form>

    </div>
    <div class="catalog__products">
      <article class="card-product  ">
        <div class="card-product__img appear">
          <div class="score card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="">
          </div>
          <img loading="lazy" src="@@webRoot/static/img/product%20дифы.png" alt="">
        </div>
        <div class="card-product__content appear">
          <div class="card-product__header">
            <p class="card-product__act">арт. 97530</p>
            <h3 class="card-product__head head head_card">
              <a href="product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
          </div>
          <div class="card-product__body">
            <p class="card-product__price">
              <span class="card-product__cost">155</span>
              <span class="card-product__currency">₽</span>
            </p>
          </div>
          <div class="card-product__footer appear">
            <button class="blow-button" >в корзину</button>
            <button class="white-button">купить</button>
          </div>
        </div>
      </article>
      <article class="card-product  ">
        <div class="card-product__img appear">
          <div class="score card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="">
          </div>
          <img loading="lazy" src="@@webRoot/static/img/product%20дифы.png" alt="">
        </div>
        <div class="card-product__content appear">
          <div class="card-product__header">
            <p class="card-product__act">арт. 97530</p>
            <h3 class="card-product__head head head_card">
              <a href="product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
          </div>
          <div class="card-product__body">
            <p class="card-product__price">
              <span class="card-product__cost">155</span>
              <span class="card-product__currency">₽</span>
            </p>
          </div>
          <div class="card-product__footer appear">
            <button class="blow-button" >в корзину</button>
            <button class="white-button">купить</button>
          </div>
        </div>
      </article>
      <article class="card-product  ">
        <div class="card-product__img appear">
          <div class="score card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="">
          </div>
          <img loading="lazy" src="@@webRoot/static/img/product%20дифы.png" alt="">
        </div>
        <div class="card-product__content appear">
          <div class="card-product__header">
            <p class="card-product__act">арт. 97530</p>
            <h3 class="card-product__head head head_card">
              <a href="product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
          </div>
          <div class="card-product__body">
            <p class="card-product__price">
              <span class="card-product__cost">155</span>
              <span class="card-product__currency">₽</span>
            </p>
          </div>
          <div class="card-product__footer appear">
            <button class="blow-button" >в корзину</button>
            <button class="white-button">купить</button>
          </div>
        </div>
      </article>
      <article class="card-product  ">
        <div class="card-product__img appear">
          <div class="score card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="">
          </div>
          <img loading="lazy" src="@@webRoot/static/img/product%20дифы.png" alt="">
        </div>
        <div class="card-product__content appear">
          <div class="card-product__header">
            <p class="card-product__act">арт. 97530</p>
            <h3 class="card-product__head head head_card">
              <a href="product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
          </div>
          <div class="card-product__body">
            <p class="card-product__price">
              <span class="card-product__cost">155</span>
              <span class="card-product__currency">₽</span>
            </p>
          </div>
          <div class="card-product__footer appear">
            <button class="blow-button" >в корзину</button>
            <button class="white-button">купить</button>
          </div>
        </div>
      </article>
      <article class="card-product  ">
        <div class="card-product__img appear">
          <div class="score card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="">
          </div>
          <img loading="lazy" src="@@webRoot/static/img/product%20дифы.png" alt="">
        </div>
        <div class="card-product__content appear">
          <div class="card-product__header">
            <p class="card-product__act">арт. 97530</p>
            <h3 class="card-product__head head head_card">
              <a href="product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
          </div>
          <div class="card-product__body">
            <p class="card-product__price">
              <span class="card-product__cost">155</span>
              <span class="card-product__currency">₽</span>
            </p>
          </div>
          <div class="card-product__footer appear">
            <button class="blow-button" >в корзину</button>
            <button class="white-button">купить</button>
          </div>
        </div>
      </article>
      <article class="card-product  ">
        <div class="card-product__img appear">
          <div class="score card-product__score">
            <img loading="lazy" src="@@webRoot/static/img/icons/Star.svg" alt="">
          </div>
          <img loading="lazy" src="@@webRoot/static/img/product%20дифы.png" alt="">
        </div>
        <div class="card-product__content appear">
          <div class="card-product__header">
            <p class="card-product__act">арт. 97530</p>
            <h3 class="card-product__head head head_card">
              <a href="product-item-page.html">Автомотический дефибрилятор primedic heartsave ped</a></h3>
          </div>
          <div class="card-product__body">
            <p class="card-product__price">
              <span class="card-product__cost">155</span>
              <span class="card-product__currency">₽</span>
            </p>
          </div>
          <div class="card-product__footer appear">
            <button class="blow-button" >в корзину</button>
            <button class="white-button">купить</button>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="catalog__footer">
    <button class="white-button">показать еще</button>
  </div>
</section>
