<!DOCTYPE html>
<html lang="en">
@@include('../components/head.html')
<body>

@@include('../components/header.html')
<main class="container">

    <form class="sections form form_with-frame  sections_head-left" action="">
        <div class="form__header form__header_while">
            <h2 class="sections__head">Оформить заказ как гость</h2>
            <img src="@@webRoot/static/img/icons/healthcare.svg">
        </div>
        <div class="form__body form__body_text-aria-left">
            <label class="form__field">
                <input  type="text" name="firs_name" placeholder="Контактное лицо (имя)" title="Контактное лицо (имя)">
            </label>
            <label class="form__field">
                <input  type="text" name="firs_name" placeholder="Наименование организации" title="Наименование организации">
            </label>
            <label class="form__field">
                <input  type="text" name="inn" placeholder="ИНН" title="ИНН">
            </label>
            <label class="form__field form__field_tel">
                <img src="@@webRoot/static/img/icons/phone.svg" alt="">
                <input aria-invalid="false"   type="tel" name="phone" value="+ 7 (___)-___-__-__" title="ваш номер телефона">
            </label>
            <label class="form__field">
                <input  type="email" name="email" placeholder="E-mail" title="E-mail">
            </label>
        </div>
        <div class="form__footer">
            <input type="submit"  class="blow-button" title="">
            <a href="#" class="form__text-smail">Нажимая на кнопку «отправить», я соглашаюсь с условиями.</a>
        </div>
    </form>

</main>
@@include('../components/footer.html')
</body>
</html>
<!DOCTYPE html>